
/*----- FONTS -----*/
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/*----- NAV BAR -----*/
.topnav {
  overflow: hidden;
  background-color:white;
  position: relative;
  color: black;
  text-indent: 2rem;
  margin: 1rem;
}

.topnav a {
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.topnav a.icon {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

/*----- HERO IMAGE -----*/
.hero-container {
  height: 100vh;
  margin: 1rem;
}

.hero-container img {
  width: 100%;
  object-fit: cover;
}

#hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-family: "Rampart One", Arial, Helvetica, sans-serif; /* GOOGLE FONT + back up fonts */
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
  position: absolute;
  top: 20%;
}

/*----- CONTENT -----*/
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* CREATING TWO COLUMNS */
  text-align: center;
  background-color:white;
  color: black;
  margin: 1rem;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 7vw;
}

.content-img {
  max-width: 100%;
  max-height: 100%;
}

/*----- ACCORDION -----*/
.accordion-container {
  height: auto;
  margin: 1rem;
}

.accordion {
  background-color: black;
  color: white;
  cursor:pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  transition: 0.4s;
  position: relative;
}

.active,.accordion:hover { 
  background-color: white; /* CHANGE HOVER COLOUR */
  color:black; /* HOVER TEXT */
}

.accordion:focus {
  outline: 2px solid blue;
}

.accordion svg {
  position: absolute;
  padding-right: 3vh;
  right: 0; /* MOVE ICON TO RIGHT OF BUTTON */
}

.panel {
  background-color:black;
  color: white;
  display: none;
}

.accimg {
  max-height: 80vh;
  object-fit: cover;
}

/*----- MEDIA QUERIES -----*/
/*----- MOBILE -----*/
@media screen and (max-width: 768px) {

  .content-container {
    grid-template-columns: 1fr; /* CHANGE TO ONE COLUMN */
  }

  .content-img {
    padding-top: 5vh;
    max-width: 100%; /* IMAGE FILLS WIDTH OF COLUMN */
    max-height: 100%; /* IMAGE FILLS HEIGHT OF COLUMN */
  }
}

/*----- FOOTER -----*/
footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  padding: 1vh;
  justify-content: space-around;
}

.nav {
  text-align: left;
  padding-left: 4vh;
  line-height: 1.5;
}

#copyright {
  text-align: center;
  grid-column: 1 / -1; /* Span all columns */
  padding-top: 1vh;
  padding-bottom: 1vh;
}